name: Post to BotBlock

on:
  schedule:
    - cron: "0 6,18 * * *"
  workflow_dispatch:

jobs:
  run:
    name: Run
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up pnpm
      uses: pnpm/action-setup@v2
      with:
        run_install: false

    - name: Set up node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version-file: ".nvmrc"
        cache: "pnpm"

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Set up build cache
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
      id: cache-build
      with:
        path: build
        key: build-${{ github.sha }}

    - name: Build project
      run: pnpm build
      if: steps.cache-build.outputs.cache-hit != 'true'

    - name: Post to Botblock
      run: npm run start
      env:
        DISCORD_BOT_ID: "467377486141980682"
        COUNTR_API_ENDPOINT: ${{ secrets.COUNTR_API_ENDPOINT }}
        BOTBLOCK_KEYS: ${{ secrets.BOTBLOCK_KEYS }}
        TOPGG_API_KEY: ${{ secrets.TOPGG_API_KEY }}
